/target

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

*.hcl

# Ignore override files as they are usually used for local development
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Lock files (optional, but recommended to commit)
# *.terraform.lock.hcl

# Ignore any local credentials
.aws/
credentials.json
*.pem
*.key

# Ignore Mac/OSX system files
.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore environment-specific files
.env
.envrc
