@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #171717; /* Light mode text */

  --primary: #34a853; /* Primary color for actions */
  --secondary: #ff0000; /* Secondary color for warnings */
  --accent: #ffc107; /* Accent color for highlights */
  --muted: #6c757d; /* Muted text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark mode background */
    --foreground: #ededed; /* Dark mode text */
  }
}

body {
  font-family: "Geist Sans", Arial, sans-serif; /* Apply custom font */
  color: var(--foreground);
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geist Sans", sans-serif;
}

button {
  font-family: "Geist Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--primary-hover, #22863a); /* Define un color de hover */
  transform: scale(1.05); /* Efecto de agrandar ligeramente */
}

input,
textarea {
  font-family: "Geist Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.resultCard {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.resultCard:hover {
  /*background-color: #aad8b0; /* Color ligeramente diferente */
  /* transform: translateY(-5px); Eleva ligeramente la tarjeta */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Añade sombra */
}


/* Default styles for small screens */
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem; /* Small padding for mobile */
  padding-right: 1rem;
}

/* Increase width and padding for tablets */
@media (min-width: 640px) {
  .container {
    max-width: 90%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Increase width for medium screens */
@media (min-width: 1024px) {
  .container {
    max-width: 85%;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* Full width for larger screens */
@media (min-width: 1440px) {
  .container {
    max-width: 75%;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/* Ultra-wide screens */
@media (min-width: 1920px) {
  .container {
    max-width: 70%;
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain; /* Maintain aspect ratio */
  background-color: white; /* Ensure clean background */
}

.resultCard {
  background-color: #ededed;
}

.resultCard img {
  object-fit: contain;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 3%;
  margin-top: 5%;
}
